body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

.main {
    margin: 0;
    padding: 0;
    @include flexbox-center;
    flex-direction: column;
}