//media queries//

@media screen and (min-width: 769px) {
    .restaurants {
        &__title {
            max-width: 1200px;
            width: 100%;
            align-self: flex-start;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    
    .restaurant {
        &__cards {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
        }
    }


    .process {
        &__title {
            max-width: 1200px;
            width: 100%;
            align-self: flex-start;
            margin: auto;
            margin-top: 50px;
        }
        &__step {
            width: 100%;
        }
    
        &__steps {
            width: 40%;
        }
    }

    .process__container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }


    .footer {
        &__bloc {
            max-width: 1200px;
        }
    }


}