
//media queries//

@media screen and (min-width: 481px) {
    .menu {
        margin-top: -60px;
    }
}

@media screen and (min-width: 769px) {

    .menu__grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .img__image {
            margin-top: 0;
            height: inherit;
        }
    
    .footer {
        height: auto;
    }
        
}