/* -- Heart component -- */

.heart {
    margin-right: 30px;
    cursor: pointer;
  }

.heart-full {
    color: #000000;
    position: absolute;
}
  
.heart-empty {
  position: absolute;
  opacity: 0%;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: opacity 0.4s ease-in-out;
  &:hover {
      opacity: 100%;
  }
}
