@include keyframes (fadeout) {
    0% {opacity: 1;}
    100% {opacity: 0; z-index: -1;}
}

@include keyframes (load) {
    0% {box-shadow: 0 0 $color-secondary inset;}
    100% {box-shadow: 0 -70px $color-primary inset;}
}

.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: #F6F6F6;
    z-index: 999;
    @include animation('fadeout 1.5s 2s forwards');
    .loader {
        position: fixed;
        width: 35px;
        height: 75px;
        background-color: transparent;
        border: 2px solid #000000;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: 50%;
        transform: perspective(140px) rotateX(-45deg);
        @include animation('load 1s linear 2 alternate');
      }
    
}
 

