
.process {
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 50px 0 0 20px;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        padding-right: 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten($color-primary, 30%);
            .process__icon {
                color: $color-primary;
            }
        }
    }
        &__number {
                background-color: $color-primary;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
    &__steps {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.process__container {
    padding: 25px 0;
    width: 100%;
    background: white;
    @include flexbox-center;
    flex-direction: column;
}