/* -- Footer Layout -- */

.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox-center;
    &__bloc {
        display: inline;
        padding: 0 40px;
        width: 100%;
        
        & .logo {
            font-family: 'Shrikhand', cursive;
            color: white;
            font-size: 20px;
            padding: 20px 0;
        }
        &-links {
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
        &-link {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover .footer__bloc-link__title {
                text-decoration: underline;
            }
            & i {
             margin-right: 7px;
            }
            &__title {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
