@media screen and (max-width: 768px) {

  .page_wrapper {
    margin: 0 !important;
  }

  /* HEADER */
  .site_header {
    align-items: center;
    flex-direction: column;
  }
  .site_link {
    padding: 20px 0 0 0;
  }

  .navbar {
    margin-top: 15px;
    position: relative;
    width: 100%;
  }
  .navbar_list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-align: center;
  }
  .navbar_list:after {
    background-color: var(--color-page-bg);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .navbar_item {
    flex: 50%;
    margin: 0;
  }
  .navbar_link {
    display: block;
    padding: 16px 0;
    position: relative;
  }
  .navbar_link:hover:before {
    display: none;
  }
  .navbar_link:hover:after {
    background-color: var(--color-primary);
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }


/* RESEARCH */
.research{
    margin: 30px; 
}

.research_filters {
  display: block;
}

.research_input {
  justify-content: center;
}

.research_input_text {
  width: 100%;
}

.research_input_btn {
  border-radius: 0 17px 17px 0;
  padding: 2px;
}

.research_input_btn i {
    display: block;
    padding: 20px;
  }
.btn_text {
  display: none;
  }



.research_filters_list {
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.research_filters_cat {
  font-size: 9px;
  margin: 5px;
  padding: 10px;
}

.research_filters_cat i {
    font-size: 9px;
    padding-right: 8px;
}


/* RESULTS */
.results {
    flex-direction: column-reverse;
    margin-top: 0;
}

.bloc_title {
  margin: 0;
}

/* MOST POPULAR */
.most_popular_bloc {
  border-radius: 0;
  margin: 0;
}

.most_popular_icon {
  padding-top: 0;
}

.most_popular_container {
display: flex;
flex-direction: column;
}

.most_popular_img {
    min-width: 135px;
}


/* ACCOMODATIONS */
.accomodations_bloc {
    background-color: #ffffff;
}
.accomodations_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.accomodation_card_img {
  height: 120px;
  width: 100%;
}

.show_more {
    display: none;
}


/* ACTIVITES  */
.activities_bloc {
    padding: 20px;
}

.activities_container {
  flex-direction: column;
  align-items: center;
}

.activities_link {
  width: 100%;
  margin: 10px;
}
.activities_card_img {
  height: 120px;
  width: 100%;
}
.activities_card_title {
  padding: 15px;
}

.site_footer {
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}


}