@media screen and (max-width: 768px) {

  .page_wrapper {
    margin: 0 !important;
  }
  .site_header {
    align-items: center;
    flex-direction: column;
  }
  .site_link {
    padding: 21px 0 0 0;
  }

  .navbar {
    margin-top: 15px;
    position: relative;
    width: 100%;
  }
  .navbar_list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-align: center;
  }
  .navbar_list:after {
    background-color: var(--color-page-bg);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .navbar_item {
    flex: 50%;
    margin: 0;
  }
  .navbar_link {
    display: block;
    padding: 16px 0;
    position: relative;
  }
  .navbar_link:hover:before {
    display: none;
  }
  .navbar_link:hover:after {
    background-color: var(--color-primary);
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }



.research{
    margin: 30px; 
}


.research_input_btn {
  border-radius: 0 17px 17px 0;
  padding: 0;
}

.research_input_btn i {
    display: block;
    font-size: 18px;
    padding: 17px;
  }
.btn_text {
  display: none;
  }



.research_filters_list {
  margin-left: 0;
}
.research_filters_cat {
  font-size: 11px;
  width: 155px;
  margin: 5px;
  padding: 12px;
}

.research_filters_cat i {
    font-size: 18px;
    padding-right: 8px;
}



.results {
    flex-direction: column-reverse;
    margin-top: 0;
}

.most_popular_container {
  flex-direction: column;
  flex-wrap: wrap;
}

.most_popular_bloc {
  border-radius: 0;
  padding: 30px;
}

.most_popular_title i {
    font-size: 22px;
    padding-top: 0;
}

.most_popular_link {
  margin : 5px 0;
  flex: 1 1 auto;
}

.most_popular_img {
    min-width: 135px;
    width: 135px;
}

.most_popular_info {
  min-width: 65%;
}

.accomodations_bloc {
    background-color: #ffffff;
    margin-top: 26px;
    padding: 30px;
}
.accomodations_container {
  flex-direction: column;
  flex-wrap: wrap;
}

.show_more {
    display: none;
}

.activities_bloc {
    margin: 30px;
}

.activities_container {
  flex-direction: column;
  flex-wrap: nowrap;
}
.activities_link {
  margin: 12px;
}
.activities_card_img {
  height: 135px;
}
.activities_card_title {
  padding: 15px;
}

.site_footer {
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}


}