*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
:root {
  --color-page-bg: #f2f2f2;
  --color-text: #000;
  --color-primary: #0065fc;
  --color-secondary: #deebff;
  --color-border: #d9d9d9;
  --color-primary-shadow: hsla(0, 0%, 85%, 0.3);
  --color-secondary-shadow: hsla(0, 0%, 75%, 0.3);
  --color-hover-shadow: rgba(0, 101, 252, 0.2);
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  max-width: 1400px;
  color: var(--color-text);
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
ul {
  list-style: none;
}
.page_wrapper {
  margin: 0 50px;
}

/* HEADER */

.site_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site_link{
  padding: 50px 0 0 0;
}
.logo {
  height: 20px;
}
.navbar_list {
  margin: 55px 0;
}
.navbar_item {
  display: inline-block;
}
.navbar_link {
  padding: 55px 30px 0 40px;
  position: relative;
}
.navbar_link:hover {
  color: var(--color-primary);
}
.navbar_link:hover:before {
  background-color: var(--color-primary);
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* RESEARCH*/

.title {
  margin: 0 0 8px 0;
}
.form {
  margin-top: 20px;
}
.research_input {
  align-items: center;
  display: flex;
}
.research_input_icon {
  background: var(--color-page-bg);
  border-radius: 22px 0 0 22px;
  padding: 22px 26px 21px 25px;
}
.research_input_text {
  border: none;
  border-bottom: 1px solid var(--color-page-bg);
  border-top: 1px solid var(--color-page-bg);
  flex-grow: 1;
  font-size: 17px;
  font-weight: 700;
  max-width: 320px;
  padding: 19px;
}
.research_input_btn {
  background: var(--color-primary);
  border: none;
  border-radius: 0 22px 22px 0;
  color: #fff;
  cursor: pointer;
}
.research_input_btn i {
  display: none;
}
.btn_text {
  font-size: 17px;
  font-weight: 700;
  padding: 19px;
}
.research_filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
}

.research_filters_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}
.research_filters_cat {
  border: 2px solid var(--color-border);
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  margin: 7px;
  padding: 15px 25px;
  position: relative;
  transition: all 0.4s;
}
.research_filters_cat i {
  color: var(--color-primary);
  padding-right: 15px;
}
.research_filters_cat:hover {
  background-color: var(--color-secondary);
} 
.research_info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.research_info i {
  margin-right: 20px;
  color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 8px 14px;
}

/* RESULTS */

.results {
  display: flex;
  margin-top: 39px;
}

/* ACCOMODATIONS */

.accomodations_bloc {
  background-color: var(--color-page-bg);
  border-radius: 26px;
  flex: 1 1 66%;
  margin-right: 20px;
  padding: 42px 40px;
}

.accomodations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
}

.accomodations_container_link {
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 0 10px 20px var(--color-primary-shadow),
    0 6px 6px var(--color-secondary-shadow);
  flex: 1 1 225px;
  margin: 10px;
  padding: 7px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 450px;
}
.accomodations_container_link:hover {
  box-shadow: 0 15px 25px var(--color-secondary-shadow),
    0 9px 9px var(--color-hover-shadow);
  transform: translateY(-2px);
}

.accomodation_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.accomodation_card_img {
  border-radius: 26px 26px 0 0;
  height: 125px;
  object-fit: cover;
  min-width: 200px;
  width: 100%;
}
.accomodation_card_info {
  padding: 5px 10px;
}

.show_more {
  margin-top: 40px;
}
.show_more_link {
  font-size: 18px;
  font-weight: 700;
}

/* MOST POPULAR */

.most_popular_bloc {
  background-color: var(--color-page-bg);
  border-radius: 26px;
  flex: 1 1 33%;
  padding: 42px 40px;
}
.most_popular_title {
  display: flex;
  justify-content: space-between;
}
.most_popular_icon {

  padding-top: 5px;
  color: var(--color-primary);
}
.most_popular_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}
.most_popular_link {
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 0 10px 20px var(--color-primary-shadow),
    0 6px 6px var(--color-secondary-shadow);
  flex: 0 1 150px;
  margin: 10px 0;
  padding: 7px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 450px;
}
.most_popular_link:hover {
  box-shadow: 0 15px 25px var(--color-secondary-shadow),
    0 9px 9px var(--color-hover-shadow);
  transform: translateY(-2px);
}

.most_popular_card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.most_popular_img {
  border-radius: 26px 0 0 26px;
  height: 145px;
  min-width: 135px;
  object-fit: cover;
  width: 135px;
}
.most_popular_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 235px;
  padding: 5px 15px;
}

.most_popular_info p {
  margin-top: -50px;
}
.card_title {
  margin-bottom: 7px;
}

.card_score {
  margin-top: 7px;
  color: var(--color-primary);
}
.grey_star {
  color: var(--color-border);
}

/* ACTIVITIES */

.activities_bloc {
  margin: 60px 0;
}
.activities_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 20px;
}


.activities_link {
  border-radius: 26px;
  box-shadow: 0 10px 20px var(--color-primary-shadow),
    0 6px 6px var(--color-secondary-shadow);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 450px;
  min-width: 150px;
  width: 100%;
  display: inline-block;
  margin: 0 9px;
  max-width: 450px;
}
.activities_link:hover {
  box-shadow: 0 15px 25px var(--color-secondary-shadow),
    0 9px 9px var(--color-hover-shadow);
  transform: translateY(-2px);
}
.activities_card_img {
  border-radius: 26px 26px 0 0;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.activities_card_title {
  padding: 20px;
}

/* FOOTER*/ 

.site_footer {
  background-color: var(--color-page-bg);
  display: flex;
  gap: 50px;
  padding: 45px 70px;
}
.site_footer_container {
  flex: 0 1 33%;
}
.site_footer_item {
  padding-top: 20px;
}
.site_footer_link {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.site_footer_link:hover {
  color: var(--color-primary);
}
