@media screen and (max-width: 992px) {


  .page_wrapper {
    margin: 0 70px;
  }

  .research_input_text{
    padding: 17px;
  }
  .btn_text {
    padding: 18px;
  }

  .research_filters_list {
    margin-left: 10px;
  }

  .research_filters_cat {
    margin: 3px;
  }

  .results {
    flex-direction: column;
  }
  
  .accomodations_bloc {
    margin-right: 0;
  }


  .most_popular_bloc {
    margin-top: 39px;
  }

  .most_popular_container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .most_popular_link {
    margin: 5px;
    flex: 0 1 245px;
  }

  .most_popular_img {
    min-width: 70px;
    width: 70px;
  }

  .most_popular_info {
    min-width: 90%;
  }

  .activities_card_title {
    padding: 10px 20px;
  }

  .activities_card_img {
    height: 200px;
  }

  .site_footer {
    padding: 20px 50px;
  }

  .site_footer_item {
    padding-top: 15px;
  }
}
