@media screen and (max-width: 992px) {

/* RESEARCH*/
  .research_filters_list {
    margin-left: 10px;
  }

  .research_filters_cat {
    margin: 3px;
  }

  /* RESULTS */
  .results {
    flex-direction: column;
  }
  
  /* MOST POPULAR */
  .most_popular_bloc {
    margin: 40px 0;
  }

  .most_popular_container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    column-gap: 10px;
    max-width: none;
  }

  .most_popular_img {
    width: 70px;
  }


  /* ACTIVITES */
.activities_bloc {
  margin: 0 0 40px 0;
}

.activities_link {
  width: 170px;
}

.activities_card_img {
  border-radius: 20px 20px 0 0;
  height: 200px;
  width: 170px;
  object-fit: cover;
}


/* FOOTER */
  .site_footer_item {
    padding-top: 15px;
  }
}
